.all {
    text-align: center;
}

.dashboard {
    position: relative;
    width: 3000000px;
    height: 43px;
    left: 100px;
    top: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #525252;
}

.message {
    position: absolute;
    width: 526px;
    height: 24px;
    left: 100px;
    top: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #9B9B9B;

}

.graphBox {
    position: absolute;
    width: 1200px;
    height: 461px;
    margin-left: 10%;
    top: 170px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
}

.barGraph {
    position: absolute;
    width: 655px;
    height: 312px;
    left: 12%;
    top: 30%;
}

.pieGraph {
    position: absolute;
    width: 600px;
    height: 400px;
    right: 5%;
    top: 30%;
}